@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Inter", sans-serif;
  @apply bg-gray-50;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
